{{> nav-block}}

  {{!-- <div class="wrapper">
    <div class="greeting">
      <h1>Welcome to <strong>Meme Machine</strong></h1>
      {{#if isloggedin}}
      You are logged in as {{user.firstName}}
      <a href="/logout"><button id="logout" type="button">Logout</button></a>
      {{else}}
      <p>You need to log in to use this app.</p>
      {{/if}}
    </div>
    
      {{#unless isloggedin}}
        {{> login-block}}
      {{/unless}}
      
  </div> --}}


{{#if isloggedin}}
<div class="flex-header">
  {{#if memes.length}}
    <h1 class="library-header">{{user.firstName}}'s Library</h1>
  {{else}}
    <h1 class="library-header">You have no memes!<br> Visit the Creator to Make Memes.</h1>
  {{/if}}
</div>
<div class="flex-library">
  {{#each memes}}
    <img class="library-item" src="{{ this.downloadURL }}" alt="{{ this.fileName }}">
  {{/each}}
</div>
{{else}}
  <div class="flex-body">
    {{> login-block}}
  </div>
{{/if}}




