{{> nav-block user=true register=false}}

<div class="wrapper">
  <form class="profile">
    <h1>View or update your user</h1>
    <div>
      <h3>Welcome, {{userInfo.firstName}}</h3>
      <h5 id="user-number" data-useremail="{{userInfo.email}}">Account email: {{userInfo.email}}</h5>
    </div>
    <h3 id="update-err-msg"></h3>
    <div>
      <label for="inputFirst">First Name</label>
      <input type="text" id="inputFirst" value="{{userInfo.firstName}}" placeholder="John">
    </div>
    <div>
      <label for="inputLast">Last Name</label>
      <input type="text" id="inputLast" value="{{userInfo.lastName}}" placeholder="Doe">
    </div>
    <div>
      <label for="inputPassword">Email</label>
      <input type="text" id="inputEmail" value="{{userInfo.email}}">
    </div>
    <div>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" value="{{userInfo.password}}">
    </div>
    <div>
      <button type="submit" id="update-user" data-id="{{userInfo.id}}">Update</button>
      {{#unless userInfo.isAdmin}}
        <button type="submit" id="delete-user">Delete</button>
      {{/unless}}
    </div>
  </form>
</div>
<div class="wrapper">
  <form class="confirm-delete">
    <h5>Re-Enter Credentials to delete user</h5>
    <h3 id="err-msg"></h3>
    <div>
      <label for="userEmail">Email:</label>
      <input type="text" id="userEmail">
    </div>
    <div>
      <label for="userPassword">Password:</label>
      <input type="password" id="userPassword">
    </div>
    <button id="confirm-delete" type="button" data-id="{{userInfo.id}}">Confirm Delete</button>
    <button id="cancel-delete" type="button">Cancel</button>
  </form>
</div>






